@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-50 text-neutral-900 antialiased;
  }
}

.prose-editor {
  @apply focus:outline-none min-h-[60vh] text-lg leading-relaxed text-neutral-800 selection:bg-neutral-200;
}